spring.datasource.url=jdbc:postgres://oufieutn:XzMBCGcCM0QzhxSyUjiZx1DNCp4wJy1Y@rosie.db.elephantsql.com:5432/oufieutn
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.show-sql=true
spring.datasource.initialization-mode=always
spring.datasource.initialize=true
spring.datasource.continue-on-error=true
spring.jpa.hibernate.ddl-auto=update

## default connection pool
spring.datasource.hikari.connectionTimeout=20000
spring.datasource.hikari.maximumPoolSize=5
spring.datasource.hikari.driverClassName=com.mysql.jdbc.Driver

spring.main.allow-bean-definition-overriding=true
spring.application.name=gbss-customer-management-service
eureka.client.service-url.default-zone=http://localhost:8761/eureka
eureka.instance.preferIpAddress=true
eureka.client.fetchRegistry=true
server.port=8300


